html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    font-family: 'PT Sans', sans-serif;
    max-width: 1600px;
    margin-top: -40px;
}

header {
    width: 100%;
    background-color: #3b3a3a;
    padding: 0.5em;
    border-bottom: solid 3px #f7af00;
}

header img {
    width: 18%;
    display: block;
    margin: auto;
}

header h1 {
    font-size: 60px;
    text-align: center;
    font-weight: 100;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    color: white;
}

header p {
    font-size: 24px;
    text-align: center;
    font-weight: 100;
    font-style: italic;
    color: white;
    margin-top: -25px;
}

main {
    border-top: solid 3px #9c4d8c;
}

article {
    float: right;
    width: 70%;
    padding: 1.8em;
}

aside {
    float: left;
    width: 30%;
    padding: 1.8em;
    background-color: #ededed;
}

h2,
h3 {
    color: #263b52;
}
